@use "../_variables" as vars;

@mixin theme {
  @include vars.export-variables;
  //  ---------------------------- PRIMARY ----------------------------

  // Text
  --text-primary: rgba(var(--theme-light), var(--transparency-97));
  --text-primary-hovered: rgba(var(--theme-light), var(--transparency-75));
  --text-primary-disabled: rgba(var(--theme-light), var(--transparency-50));
  --text-contrasted: rgba(var(--theme-dark), var(--transparency-97));
  --text-contrasted-hovered: rgba(var(--theme-dark), var(--transparency-75));
  --text-contrasted-disabled: rgba(var(--theme-dark), var(--transparency-50));

  // Background
  --bg-primary: rgb(var(--theme-dark));
  --bg-primary-hovered: rgba(var(--theme-dark), var(--transparency-6));
  --bg-primary-disabled: rgba(var(--theme-dark), var(--transparency-50));
  --bg-contrasted: rgb(var(--theme-light));
  --bg-contrasted-hovered: rgba(var(--theme-light), var(--transparency-6));
  --bg-contrasted-disabled: rgba(var(--theme-light), var(--transparency-50));
  --bg-menu: rgba(var(--theme-light), var(--transparency-45));
  --bg-btn: rgb(var(--primary-btn));
  --bg-btn-hovered: rgba(var(--primary-btn), var(--transparency-75));
  --bg-btn-disabled: rgba(var(--primary-btn), var(--transparency-45));
}